<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dive Deep</title>


</head>

<body>

    <div class="container">
        
        @RenderSection("Title", required: false)
        @RenderBody()

    </div>

</body>

</html>