@using True_Dive_Deep.Models
@model List<Tank>
@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
<div class="row">
    @foreach (var tank in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@tank.ImageFileName" class="product-image card-img-top" alt="@tank.Brand" />

                    <h2 class="product-title">@tank.Brand</h2>
                    <p class="product-description">
                        Volumen: @tank.Volume Liter
                    </p>
                    <p class="price-tag">💰@tank.PricePerDay DKK/pr.Dag</p>

                <div class="actions">
                    <a class="btn btn-info" href="#" class="btn btn-secondary">Se Mere</a>
                    <a class="btn btn-book btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@tank.ProductId">🛒Tilføj til Kurv</a>
                </div>
            </div>
        </div>
    }
</div>
